
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*start of the header and footer css */

header {
    border: solid 3px #212121;
    box-shadow: 2px 2px 10px 1px #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 800px;
    margin: -10px -10px 0px;
    background-color: #2E7D32;
}

header img {
    width: 250px;
    height: 100px;
    margin-left: -50px;
}

header nav,
footer nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
}

header nav {
    border-left: solid 3px #212121;
}

footer nav {
    column-gap: 80px;
    padding: 20px;
}

header nav a,
footer nav a {
    font-size: x-large;
    text-decoration: none;
    color: #212121;
    font-family: "Lato", sans-serif;
}

header nav a:hover,
footer nav a:hover {
    text-decoration: underline;
    color: #3A6EA5;
}

footer {
    border: solid 3px #212121;
    box-shadow: 2px 2px 10px 1px #212121;
    place-items: center;
    background-color: #2E7D32;
    margin: 0px -10px -10px;
}

/* End of header and footer css */

main {
    margin: 0px -8px 0px;
}

/* Mission box */


.mission {
    position: relative;
    place-items: center;
}

.mission img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.mission p {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 2em;
    box-shadow: 0px 0px 4px 2px #3A6EA5CC;
    background-color: #ffffffCC;
    text-align: center;
    padding: 20px;
    color: #212121;
    font-family: "Montserrat", sans-serif;
}

/* Intro box */

.intro {
    border: solid 3px #3A6EA5;
    box-shadow: 2px 2px 10px 1px #3A6EA5;
    display: grid;
    place-items: center;
    font-size: 1.4em;
    font-family: "Montserrat", sans-serif;
}

/* Impact on environment box */

.impact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    padding: 40px 0px;
}

.impact img {
    border: solid 3px #3A6EA5;
    box-shadow: 2px 2px 10px 1px #3A6EA5;
    width: 70%;
    height: 90%;
}

.impact p {
    border: solid 3px #3A6EA5;
    box-shadow: 2px 2px 10px 1px #3A6EA5;
    grid-column: 1 / 4;
    text-align: center;
    align-items: center;
    margin: 16px 74px;
    font-size: 1.4em;
    padding: 30px;
    font-family: "Montserrat", sans-serif;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    height: 60px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #3A6EA5;
    font-weight: 600;
}

.nav-links a:hover,
.nav-links .active {
    color: #2E7D32;
}

.visit-banner {
    text-align: center;
    margin-top: 40px;
}

.visit-banner h1 {
    font-size: 40px;
    color: #212121;
    margin-bottom: 30px;
    font-family: Lato, sans-serif;
}

.banner-box {
    width: 80%;
    height: 180px;
    margin: 0 auto;
    background-color: #e5e7eb;
    border-radius: 10px;
}

.contact-section {
    text-align: center;
    margin-top: 60px;
}

.contact-section h2 {
    font-size: 32px;
    color: #212121;
    margin-bottom: 25px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.contact-form label {
    font-weight: 600;
    color: #212121;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.contact-form textarea {
    height: 140px;
}

.send-btn {
    width: 100%;
    background-color: #212529;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #3A6EA5;
}

.footer {
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    margin-top: 60px;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-column p,
.footer-column a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

