
/*start of the header and footer css */

header {
    border: solid 3px #212121;
    box-shadow: 0px 2px 4px #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 800px;
    margin: -10px -10px 0px;
    background-color: #2E7D32;
}

header img {
    width: 250px;
    height: 100px;
    margin-left: -50px;
}

header nav,
footer nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
}

header nav {
    border-left: solid 3px #212121;
}

footer nav {
    column-gap: 80px;
    padding: 20px;
}

header nav a,
footer nav a {
    font-size: x-large;
    text-decoration: none;
    color: #212121;
}

header nav a:hover,
footer nav a:hover {
    text-decoration: underline;
    color: #3A6EA5;
}

footer {
    border: solid 3px #212121;
    box-shadow: 2px 0px 4px #212121;
    place-items: center;
    background-color: #2E7D32;
    margin: 0px -10px -10px;
}

/* End of header and footer css */

main {
    margin: 0px -8px 0px;
}

/* Mission box */


.mission {
    position: relative;
    place-items: center;
}

.mission img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.mission p {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 2em;
    box-shadow: 0px 0px 4px 2px #3A6EA5CC;
    background-color: #ffffffCC;
    text-align: center;
    padding: 20px;
    color: #212121;
}

/* Intro box */

.intro {
    border: solid 3px #3A6EA5;
    box-shadow: 2px 2px 10px 1px #3A6EA5;
    display: grid;
    place-items: center;
    font-size: 1.4em;
}

/* Impact on environment box */

.impact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    padding: 40px 0px;
}

.impact img {
    border: solid 3px #3A6EA5;
    box-shadow: 2px 2px 10px 1px #3A6EA5;
    width: 70%;
    height: 90%;
}

.impact p {
    border: solid 3px #3A6EA5;
    box-shadow: 2px 2px 10px 1px #3A6EA5;
    grid-column: 1 / 4;
    text-align: center;
    align-items: center;
    margin: 16px 74px;
    font-size: 1.4em;
    padding: 30px;
}

