
/*start of the header and footer css */

header {
    border: solid 3px #212529;
    box-shadow: 0px 2px 4px #212529;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 800px;
    margin: -10px -10px 0px;
    background-color: #2E7D32;
}

header img {
    width: 250px;
    height: 100px;
    margin-left: -50px;
    margin-bottom: -10px;
    z-index: 1;
}

header nav,
footer nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
}

header nav {
    border-left: solid 3px #212529;
}

footer nav {
    column-gap: 80px;
    padding: 20px;
}

header nav a,
footer nav a {
    font-size: x-large;
    text-decoration: none;
    color: #212121;
}

header nav a:hover,
footer nav a:hover {
    text-decoration: underline;
    color: #3A6EA5;
}

footer {
    border: solid 3px #212529;
    box-shadow: 2px 0px 4px #212529;
    place-items: center;
    background-color: #2E7D32;
    margin: 0px -10px -10px;
}

/* End of header and footer css */